{% extends 'Store/base.html' %}

{% load static %}
{% load cart %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

<div class="container mb-4">
  <h2 class="pt-5 pb-4">Shopping Cart</h2>
  <div class="small-container cart-page">
    <div class="card">
    {% if cart_products %}
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for product in cart_products %}
          <tr>
            <td>
              <div class="cart-info">
                <a class="prod-links" href="{% url 'Product_details' product.slug %}">
                    <img src="{{ product.product_main_image.url }}" alt="">
                </a>
              <div>
                  <a class="prod-links" href="{% url 'Product_details' product.slug %}">
                    <p class="font-weight-bold text-dark">{{ product.name }}</p>
                  </a>
                  <a class="btn btn-sm btn-danger" href="#"><i class="fas fa-trash-alt" style="font-size: 20px"></i></a>
                </div>
              </div>
            </td>
            <td class="align-middle cart-form"><input class="text-center form-control" type="text" min="0" name="quantity" id="quantity" value="{{product|cart_quantity:request.session.cart}}">
                <div class="cart-btn">
                    <!--Sub button-->
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="product" value="{{product.id}}" />
                            <input hidden type="number" name="remove" value="-1" />
                            <span><button type="submit" class="min-btn">-</button></span>
                    </form>
                    <!--Add button-->
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="product" value="{{product.id}}" />
                            <span><button type="submit" class="add-btn">+</button></span>
                    </form>
                </div>
            </td>
            <td class="font-weight-bold align-middle">{{ product|cart_total:request.session.cart }} RM.</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>

      <div class="total-price">
        <table class="mb-3">
          <!--<tr>-->
          <!--  <td class="font-weight-bold">Subtotal</td>-->
          <!--  <td class="font-weight-bold">100000 Tk</td>-->
          <!--</tr>-->
          <tr>
            <td class="font-weight-bold cart-total-price">TOTAL</td>
            <td class="font-weight-bold">{{total}} RM.</td>
          </tr>
          <tr>
              {% if request.session.customer %}
            <td class="text-center" colspan="2"><a href="{% url 'checkout' %}"><button class="btn btn-danger">Proceed To Checkout <i class="fas fa-arrow-right"></i></button></a></td>
            {% else %}
            <td class="text-center" colspan="2"><a href="{% url 'login' %}"><button class="btn btn-danger">Please Login First <i class="fas fa-arrow-right"></i></button></a></td>
            {% endif %}
          </tr>
        </table>
      </div>
      {% else %}
      <h4 class="py-3 text-center">Your cart is empty!</h4>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}