{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<!-- top-menu -->
<nav class="navbar navbar-dark bg-danger top-navbar">
  <div class="ml-auto nav-item">
    <a href="{% url 'register' %}" class="mr-2">Sign Up</a>
    <a href="{% url 'login' %}" class="mr-2">Log In</a>
  </div>
</nav>

<!-- main-menu -->
<div class="bg-danger">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img id="navbar-logo" src="{% static 'images/logo.jpg' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-auto searchBx">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="my-2 my-sm-0 search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active mr-2">
            <a href="{% url 'cart' %}">
              <i class="fas fa-shopping-cart text-white"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>